
.bg-footer {
    .contenedor_bread{
        background-color: map-get($paleta_colores, "gris" );
    }
    .fuente_breadcrumb{
                 color:map-get($paleta_colores, "blanco" ) !important ;
                 list-style-type: none;
                  text-decoration: none;
                
              }
             .fuente_breadcrumb_activo {
                 color:map-get($paleta_colores, "verde_borde" ) !important ;
                 list-style-type: none;
                 text-decoration: none;
            
             }
    background-color:map-get($paleta_colores, "gris" );
    .bg-social-media {
        background-color:map-get($paleta_colores, "verde_borde");
        .separator {
            width: 60px;
            height: 2px;
            margin-bottom: 4px;
            margin-top: 0;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            .bg-copyright {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }

    .text-dark{
        color: map-get($paleta_colores, "blanco" ) !important;
    }
    .text-dark-dos{
        color:map-get($paleta_colores, "gris_claro" )  ;
    }
}





.bg-copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

        